body {
    font-family: $type-face;
    font-size: $global-font-size;
}

.header {

    &__h1 {
        font-size: 5.5rem;
        text-transform: uppercase;
        font-weight: 500;
        letter-spacing: .5rem;
        -webkit-background-clip: text;
        color: transparent;

        @include respond(tab-port) {
            font-size: 4rem;
            letter-spacing: .4rem;
        }

        @include respond(phone) {
            letter-spacing: 0;
            font-size: 3.3rem;
        }
        
        @include respond(phone-sml) {
            font-size: 2.3rem;
            font-weight: 700;
        }

    }

}

.main {

    &__icon-container {
        &--icon {
            font-size: 5rem;
        }
    }

    &__label {

        &--text {
            font-weight: 400;
            text-transform: uppercase;
            line-height: 1.5;
            letter-spacing: .1rem;

            @include respond(tab-port) {
                font-size: 1.6rem;
            }

            @include respond(phone) {
                font-size: 1.5rem;
            }

            @include respond(phone-sml) {
                font-size: 1.3rem;
            }

        }
    }

    &__currencies {

        &--select {
            color: $color-white;
            font-size: $global-font-size;
            text-transform: uppercase;
            font-weight: 300;
            letter-spacing: .1rem;

            @include respond(tab-port) {
                font-size: 1.6rem;
            }

            @include respond(phone) {
                font-size: 1.3rem;
                letter-spacing: 0;
            }

            @include respond(phone-vs) {
                font-size: 1rem;
            }
        }

        &--input {
            font-size: $global-font-size;
            font-weight: 400;
        }
        
        &--input-blue {
            color: $color-primary;
            
        }
        
        &--input-green {
            color: $color-secondary;

        }
    }

    .footer {
        
        &__text {
            letter-spacing: .1rem;

            @include respond(tab-port) {
                font-size: 1.6rem;
            }

            @include respond(phone) {
                font-size: 1.5rem;
                letter-spacing: 0;
            }

            @include respond(phone-sml) {
                font-size: 1.3rem;
            }

        }
        
        &__link {
            &,
            &:link,
            &:visited {
                color: $color-white;
                text-decoration: none;
                text-transform: uppercase;
            }
        }
    }
}