// COLOR SCHEME:
$color-primary-light: #69aff0;
$color-primary: #298EEA;
$color-primary-dark: #18558c;


$color-secondary-light: #68db9e;
$color-secondary: #28CC75;
$color-secondary-dark: #187a46;


$color-grey-dark: #d9d9d9;
$color-grey-darker:  #444;

$color-white: #fff;
$color-black: #000;


// FONT: 

$type-face: 'Montserrat', sans-serif;

$global-font-size: 1.7rem;