/*
COLOR SCHEME:
	BLACK/ 	  HEX: #0f0f0f
		      RGBa: rgba(15,15,15,1)
	DARKGRAY/ HEX: #2d2d2d
			  RGBa: rgba(45,45,45,1)
	LIGHTGRAY/HEX: #a39e9e
			  RGBa: rgba(163,158,158,1)
	MOCCA/    HEX: #bc8420
			  RGBa: rgba(188,132,32,1)
*/
/*
CSS VARIABLES:
*/

:root {
--black-hex: #0f0f0f;
--black-rgba: rgba(15,15,15,0.9);
--darkgray-hex: #2d2d2d;
--darkgray-rgba: rgba(45,45,45,1);
--lightgray-hex: #a39e9e;
--lightgray-rgba: rgba(163,158,158,0.2);
--mocca-hex: #bc8420;
--mocca-rgba: rgba(188,132,32,0.6);

--main-font: 'Raleway', sans-serif;
}

body {
	background-color: var(--black-hex);
	color: var(--black-rgba);
	font-family: var(--main-font);
}

.container {
	text-align: center;
	position: relative;
	top: 2em;
	padding: 0 0 0.5% 0;
	width: 50%;
	margin: auto;
	border-radius: 20px;
	background-color: var(--mocca-rgba);
}

.header {
	margin: 0 0 5em 0;
	font-family: var(--main-font);
	color: var(--darkgray-hex);
	text-shadow: 1px 1px 1px rgba(255,255,255,0.3);
	font-weight: 900;
	background-color: var(--black-hex);
	height: 100%;
	width: 100%;
}

#amount {
	display: block;
	margin: 10px;
}

#amount-input {
	width: 40%;
	height: 2em;
	border-radius: 20px;
	outline: none;
	border: none;
	font-weight: bold;
	font-size: 1em;
	padding-left: 2%;
	padding-right: 2%;
}

.second-line{
	margin-top: 2em;
	margin-bottom: 2em;
}

#from {
	margin-right: 2%;
	width: 20%;
	height: 25px;
	border-radius: 10px;
	outline: none;
}

#to {
	width: 20%;
	height: 25px;
	border-radius: 10px;
	outline: none;
}

select, .option {
	font-weight: bold;
	padding-left: 0.5%;
	height: 50px;
}

#result-input {
	display: block;
	margin: 2% auto 5% auto;
	outline: none;
	border-radius: 20px;
	width: 40%;
	height: 2em;
	border: none;
	font-weight: bold;
	font-size: 1em;
	padding-left: 2%;
	padding-right: 2%;
	color: black;
}

footer {
	text-align: center;
	font-size: smaller;
	margin-top: 10%;
}

footer a {
	text-decoration: none;
	color: gray;
}
