/*
COLOR SCHEME:
	BLACK/ 	  HEX: #0f0f0f
		      RGBa: rgba(15,15,15,1)
	DARKGRAY/ HEX: #2d2d2d
			  RGBa: rgba(45,45,45,1)
	LIGHTGRAY/HEX: #a39e9e
			  RGBa: rgba(163,158,158,1)
	MOCCA/    HEX: #bc8420
			  RGBa: rgba(188,132,32,1)
	KINDOFWHITE/ HEX: #EEEEEE
				 RGBa: rgba(238,238,238,1)
*/

/*
CSS VARIABLES:
*/

:root {
	/*COLOR VARIABLES*/
--black-hex: #0f0f0f;
--black-rgba: rgba(15,15,15,0.9);
--darkgray-hex: #2d2d2d;
--darkgray-rgba: rgba(45,45,45,0.4);
--lightgray-hex: #a39e9e;
--lightgray-rgba: rgba(163,158,158,0.2);
--mocca-hex: #bc8420;
--mocca-rgba: rgba(188,132,32,0.6);
--whity-hex: #EEEEEE;
--whity-rgba: rgba(238,238,238,0.3);
	
	/* FONT VARIABLE */
--main-font: 'Raleway', sans-serif;
}

body {
	background-color: var(--lightgray-rgba);
	color: var(--mocca-hex);
	font-family: var(--main-font);
}

.container {
	text-align: center;
	position: relative;
	top: 2em;
	padding: 0 0 0.5% 0;
	width: 80%;
	margin: auto;
	border-radius: 20px;
	background-color: var(--black-rgba);
	box-shadow: 2px 2px 20px var(--darkgray-rgba);
}

.header {
	margin: 0 0 2em 0;
	font-family: var(--main-font);
	color: var(--mocca-hex);
	text-shadow: 2px 2px 3px var(--darkgray-rgba);
	font-weight: 900;
	background-color: var(--whity-hex);
	height: 100%;
	width: 100%;
	padding: 10px 0;
	box-shadow: 1px 5px 10px var(--whity-rgba);
	border-radius: 6px;
	font-size: larger;
}

#amount {
	/*display: block;*/
}

#amount-input {
	width: 15%;
	height: 2em;
	border-radius: 10px;
	outline: none;
	border: none;
	font-weight: bold;
	font-size: 1em;
	padding-left: 2%;
	padding-right: 2%;
}

.second-line{
	margin-top: 3em;
	margin-bottom: 3em;
	font-weight: bold;
}

#from {
	margin-right: 2%;
	width: 30%;
	height: 2.5em;
	border-radius: 10px;
	outline: none;
	background-color: var(--mocca-rgba);
	color: var(--whity-hex);
}

#to {
	width: 30%;
	height: 2.5em;
	border-radius: 10px;
	outline: none;
	background-color: var(--lightgray-hex);
	color: var(--black-hex);
}

select, .option {
	font-weight: bold;
	padding-left: 0.5%;
	height: 50px;
}

#result-input {
	display: block;
	margin: 2% auto 5% auto;
	outline: none;
	border-radius: 10px;
	width: 20%;
	height: 2em;
	border: none;
	font-weight: bold;
	font-size: 1em;
	padding-left: 2%;
	padding-right: 2%;
	color: var(--black-hex);
}

footer {
	text-align: center;
	font-size: smaller;
	font-weight: bold;
	margin-top: 10%;
	background-color: var(--black-rgba);
	color: var(--whity-hex);
	height: 2%;
	width: 50%;
	margin: 5% auto 0 auto;
	padding: 0.5em;
	border-radius: 15px;
}

footer a {
	text-decoration: none;
	color: var(--mocca-hex);
}
