body {
	background-color: beige;
}

.container {
	text-align: center;
	position: relative;
	top: 2em;
	border: 2px solid rgba(00,00,00,0.1);
	width: 50%;
	margin: auto;
	border-radius: 20px;
	background-color: rgba(00,00,00,0.2);
}

.header {
	margin: auto 0 5em 0;
}

#amount {
	display: block;
	margin: 10px;
}

#amount-input {
	width: 30%;
	height: 2em;
	border-radius: 20px;
	outline: none;
	border: none;
	font-weight: bold;
	font-size: 1em;
	padding-left: 2%;
	padding-right: 2%;
}

.second-line{
	display: block;
	margin-top: 1em;
}

#from {
	margin-right: 5%;
}

.third-line {
	display: block;
	margin: 1em;
}

#convert-btn {
	margin-top: 1em;
	padding: 1em 2em;
	border-radius: 20px;
	border: 2px solid transparent;
	outline: none;
	font-weight: bold;
	font-size: 0.9em;
	cursor: pointer;
}

#convert-btn:hover {
	border: 2px solid gray;
	background-color: gray;
	color: white;
}

#result {
	display: block;
	margin: auto;
	margin-top: 2%;
	margin-bottom: 5%;
	outline: none;
	border-radius: 20px;
	width: 30%;
	height: 2em;
	border: none;
	font-weight: bold;
	font-size: 1em;
	padding-left: 2%;
	padding-right: 2%;
}